[default]

[profile sandbox-justice-dev-automation]
role_arn=arn:aws:iam::455912570532:role/sandbox-justice-dev-automation-platform
source_profile=default

[profile sandbox-justice-dev-automation-terraform]
role_arn=arn:aws:iam::455912570532:role/sandbox-justice-dev-automation-platform-terraform
source_profile=sandbox-justice-dev-automation

[profile customerportal-justice-dev-automation]
role_arn=arn:aws:iam::742281543583:role/customerportal-justice-dev-automation-platform
source_profile=default

[profile customerportal-justice-dev-automation-terraform]
role_arn=arn:aws:iam::742281543583:role/customerportal-justice-dev-automation-platform-terraform
source_profile=customerportal-justice-dev-automation

[profile customerportal-justice-prod-automation]
role_arn=arn:aws:iam::742281543583:role/customerportal-justice-prod-automation-platform
source_profile=default

[profile customerportal-justice-prod-automation-terraform]
role_arn=arn:aws:iam::742281543583:role/customerportal-justice-prod-automation-platform-terraform
source_profile=customerportal-justice-prod-automation

[profile customerportal-justice-stg-automation]
role_arn=arn:aws:iam::742281543583:role/accelbyte-customerportal-stg-automation-platform
source_profile=default

[profile customerportal-justice-stg-automation-terraform]
role_arn=arn:aws:iam::742281543583:role/accelbyte-customerportal-stg-automation-platform-terraform
source_profile=customerportal-justice-stg-automation

[profile accelbyte-justice-demo-automation]
role_arn=arn:aws:iam::144436415367:role/accelbyte-justice-demo-automation-platform
source_profile=default

[profile accelbyte-justice-demo-automation-terraform]
role_arn=arn:aws:iam::144436415367:role/accelbyte-justice-demo-automation-platform-terraform
source_profile=accelbyte-justice-demo-automation
