apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: # manifests generated during bootstrap
  - gotk-components.yaml
  - gotk-sync.yaml

patches: # customize the manifests during bootstrap
  - target:
      kind: Deployment
      labelSelector: app.kubernetes.io/part-of=flux
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: not-used
      spec:
        template:
          spec:
            tolerations:
              - key: CriticalOnInitOnly
                operator: Exists
            nodeSelector:
              accelbyte.io/workload: CriticalOnInit
  - patch: |-
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: source-controller
        namespace: flux-system
        annotations:
          eks.amazonaws.com/role-arn: arn:aws:iam::${AWS_ACCOUNT}:role/irsa_source_controller_${CUSTOMER_NAME}_${PROJECT}_${ENVIRONMENT_NAME}
    target:
      kind: ServiceAccount
      name: source-controller
      namespace: flux-system
  - target:
      kind: Deployment
      name: source-controller
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: not-used
      spec:
        template:
          spec:
            containers:
              - name: manager
                resources:
                  limits:
                    cpu: 2
                    memory: 1500Mi
                  requests:
                    cpu: 50m
                    memory: 1500Mi
